.container {
  --accent-color-hs: var(--accent-hue) var(--accent-saturation);

  display: flex;
  align-items: center;

  gap: var(--size-4);
  color: black;
  text-decoration: none;
  min-width: min-content;

  /*to make all buttons the same size*/
  border: var(--size-0) solid transparent;
}
.container span {
  background-color: transparent;
}
.container svg {
  background-color: transparent;
}
.icon {
  width: 20px;
  height: 20px;
}
.variant-icon {
  display: grid;
  place-content: center;
}
.variant-outlined {
  padding: var(--size-2) var(--size-6-5);

  white-space: nowrap;
  border-radius: var(--size-5);
  border-color: hsl(var(--accent-color-hs) 35%);
  color: hsl(var(--accent-color-hs) 35%);
}
.variant-outlined:hover {
  background-color: hsl(var(--accent-color-hs) 90%);
}
.variant-solid {
  padding: var(--size-1) var(--size-6-5);

  white-space: nowrap;
  border-radius: var(--size-5);
  background-color: hsl(var(--accent-color-hs) 35%);
  color: white;
}
.variant-solid:hover {
  background-color: hsl(var(--accent-color-hs) 35%);
}
.variant-text {
  padding: var(--size-2) var(--size-6-5);
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 80%);
  border-bottom: 2px solid hsl(0, 0%, 80%);
}
.variant-text:hover {
  background-color: hsl(0, 0%, 80%);
}
.variant-text.active {
  background-color: hsl(0, 0%, 90%);
  border-bottom: 2px solid hsl(0, 0%, 50%);
}
.variant-text.disabled {
  /* color: var(--gray-5); */
  color: hsl(0, 0%, 50%);
}
.variant-text.disabled .icon {
}
