.container {
  color: black;
  /* background-color: transparent; */
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 0;
  /* border: var(--size-0) solid var(--gray-4); */
}
.container span {
}
.outlined {
  display: flex;
  align-items: center;

  padding: var(--size-2) var(--size-6-5);
  border: var(--size-0) solid var(--teal-7);
  white-space: nowrap;
  border-radius: var(--size-5);
  background-color: white;
  color: var(--teal-7);
}
.outlined:hover {
  background-color: var(--teal-1);
}
.filled {
  display: flex;
  align-items: center;

  padding: var(--size-2) var(--size-6-5);
  white-space: nowrap;
  border-radius: var(--size-5);
  background-color: var(--teal-7);
  color: white;
}
.filled:hover {
  background-color: var(--teal-8);
}
.text {
}
.text:hover {
  /* background-color: var(--gray-1); */
}
