.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  gap: var(--size-4);
  color: black;
  text-decoration: none;
  /* margin: 0; */
  /* border: 0; */
  min-width: min-content;
}
.container span {
  background-color: transparent;
}
.container svg {
  background-color: transparent;
}
.icon {
  width: 20px;
  height: 20px;
}
.variant-icon {
  display: grid;
  place-content: center;
  /* width: 20px;
  height: 20px; */
}
.variant-outlined {
  padding: var(--size-2) var(--size-6-5);

  border: var(--size-0) solid var(--teal-7);
  white-space: nowrap;
  border-radius: var(--size-5);
  background-color: white;
  color: var(--teal-7);
}
.variant-outlined:hover {
  background-color: var(--teal-1);
}
.variant-filled {
  padding: var(--size-2) var(--size-6-5);

  white-space: nowrap;
  border-radius: var(--size-5);
  background-color: var(--teal-7);
  color: white;
}
.variant-filled:hover {
  background-color: var(--teal-8);
}
.variant-text {
  padding: var(--size-2) var(--size-6-5);
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 80%);
  border-bottom: 2px solid hsl(0, 0%, 80%);
}
.variant-text:hover {
  background-color: var(--gray-2);
}
.variant-text.active {
  background-color: var(--gray-1);
  border-bottom: 2px solid hsl(0, 0%, 50%);
}
.variant-text.disabled {
  /* color: var(--gray-5); */
  color: hsl(0, 0%, 50%);
}
.variant-text.disabled .icon {
}
