.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  aspect-ratio: 1/1;
  text-decoration: none;
  border: none;
  background-color: rgb(255, 255, 255);
  color: var(--teal-7);
  size: 3rem;
}
.container > svg {
  height: 100%;
}
.container:hover {
  background-color: var(--teal-1);
}
