.container {
  display: flex;
  align-items: center;

  padding: var(--size-2) var(--size-6-5);
  border: var(--size-0) solid var(--teal-7);
  white-space: nowrap;
  border-radius: var(--size-5);
  background-color: white;
  color: var(--teal-7);
}
.container:hover {
  background-color: var(--teal-1);
}
.container.highlight {
  background-color: var(--teal-7);
  color: white;
}
.container.highlight:hover {
  border: var(--size-0) solid var(--teal-8);
  background-color: var(--teal-8);
}
