.container {
  position: relative;
}
.container > ul {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: 0;
  height: 0;

  overflow: hidden;
}
.container .active {
  height: auto;
  padding: 2vh 2vh;
  border: var(--size-09) solid hsl(0 0% 60%);
  border-radius: var(--size-3);
}
.container > ul * {
  text-align: left;
  white-space: nowrap;
}
