.container {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}
.logo {
  width: var(--size-6-5);
  /* padding: var(--size-2); */
  /* background-color: var(--teal-5); */
  border-radius: 100%;
  fill-opacity: black;
}
.logo-name {
  font-size: var(--size-5-5);
  font-weight: 400;
  text-shadow: 1px 1px var(--gray-4);
  letter-spacing: -1px;
}
