.container {
  display: flex;
  align-items: center;
  gap: 2vw;
  position: fixed;
  top: 0;
  height: 6vh;

  padding: 0 3vw;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
.logo-container {
  flex: 0 0 auto;
  height: 100%;
  text-decoration: none;
}
.logo-container > * {
  text-decoration: none;
}
.logo-container > *:visited {
  color: inherit;
}
.search-bar-container {
  flex: 0 1 auto;

  border: var(--size-09) solid var(--gray-4);
  border-radius: 50px;
  padding: 0 2vw;
  font-size: var(--size-5);
  height: 80%;
  font-weight: 400;

  background-color: var(--gray-2);
  color: var(--gray-6);
}
.search-group-container {
  /* flex: 0 1 20%; */

  align-self: stretch;
  border: var(--size-08) solid var(--gray-4);
  border-radius: var(--size-3);
}
.btn-container {
  /* flex: 0 1 35%; */
  height: 70%;
  display: flex;
  gap: var(--size-5);
}
.dropdown-container {
  /* flex: 0 1 5%; */
  height: 70%;
}
.dropdown-container > button {
  display: flex;
  height: 100%;
  width: 2.5rem;
}
.dropdown-container > ul {
  right: -0;

  background-color: white;
}
.dropdown-container * {
  border: none;
  background-color: white;
}
.logo-container img {
  height: 100%;
}
.logo-container p {
  font-size: var(--size-6);
  text-shadow: 1px 1px var(--gray-4);
  letter-spacing: -1px;
}
@media screen and (max-width: 920px) {
  .logo-container p {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .btn-container {
    display: none;
  }
}
