.window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  background-color: hsla(0, 0%, 21%, 0.5);
  backdrop-filter: blur(1px);
  display: grid;
  place-items: center;
}
.container {
  padding: var(--size-6) var(--size-6);
  background-color: white;
}
