.flex-horizontal {
  display: flex;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.panel {
  padding: var(--size-4);
  border-radius: var(--size-2);
  border: var(--size-09) solid var(--gray-4);
  /* box-shadow: 0 0 5px var(--gray-4); */
  background-color: white;
}
